.mouse {
	width: 50px;
	height: 90px;
	border: 2px solid #333;
	border-radius: 60px;
	position: relative;

	&::before {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: 10px;
		left: 50.5%;
		transform: translateX(-50%);
		background-color: #333;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

